# Introduction of Python

In [2]:
print("Hello")

Hello

In [6]:
# signle line comment

## String

In [8]:
name = "Avanish Patel"

print(name[2])
print(len(name))
print(name[2:5])
print(name[:4])
print(name[3:])
print(name[-1])
print(name[-2])

a
13
ani
Avan
nish Patel
l
e

In [9]:
first = "Avanish"
last = "Patel"

full = first + last
print(full)

AvanishPatel

In [10]:
nick = first[:2]+"y"

print(nick)

Avy

In [11]:
print("My name is {0} and I am {1} years old".format("Avanish", 24))

My name is Avanish and I am 24 years old

In [16]:
print("Point : ({x},{y},{z})".format(x=2,y=4,z=8))

Point : (2,4,8)

In [18]:
print("I have {model} car, It reaches at speed of {0} in {1} sec.".format(100, 5, model="BMW"))

I have BMW car, It reaches at speed of 100 in 5 sec.

In [21]:
print("{:<20}".format("Hello"))
print("{:>20}".format("Hello"))

Hello
               Hello

In [27]:
print("{:b}".format(12))
print("{:x}".format(12))

1100
c

In [29]:
print("I'm Avanish Patel, I'm \"computer science\"student at Chicago State University")

I'm Avanish Patel, I'm "computer science"student at Chicago State University

In [32]:
print("""
User 
    defined 
        String
            Format.""")

User
    defined
        String
            Format.

## Logical Operators and Conditional Statment

In [36]:
print( 12 < 2)
print(12 > 2)
print(12 != 2)
print( 12 <= 2)
print(12 >= 2)
print(12 == 2)

False
True
True
False
True
False

In [37]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

In [42]:
word = "Hi"


if word == "Hello":
    print("Hello, How are you?")
elif word == "Hi":
    print("Hi, How are you?")
else:
    print("How are you?")

Hi, How are you?

In [47]:
decimal = 1
decimal = 10 if decimal>10 else 0
print(decimal)

0

In [48]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [49]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [50]:
name = "Avanish Patel"

for i in range(len(name)):
    print(name[i])

A
v
a
n
i
s
h

P
a
t
e
l

In [51]:
for char in name:
    print(char)

A
v
a
n
i
s
h

P
a
t
e
l

In [52]:
for i in range(3):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [59]:
for i in range(1,11):
    print("{:<3}|".format(i))

1  |
2  |
3  |
4  |
5  |
6  |
7  |
8  |
9  |
10 |

In [57]:
for i in range(1,11):
    print("{:<3}|".format(i),end="")

1  |2  |3  |4  |5  |6  |7  |8  |9  |10 |

In [66]:

for i in range(1,11):
    print("{:<3}|".format(i),end="")
    
    for j in range(1,11):
        print("{:>4}|".format(i*j), end="")
        
    if i == 1:
        print("\n{:#^54}".format(""),end="")
    print("")

1  |   1|   2|   3|   4|   5|   6|   7|   8|   9|  10|
######################################################
2  |   2|   4|   6|   8|  10|  12|  14|  16|  18|  20|
3  |   3|   6|   9|  12|  15|  18|  21|  24|  27|  30|
4  |   4|   8|  12|  16|  20|  24|  28|  32|  36|  40|
5  |   5|  10|  15|  20|  25|  30|  35|  40|  45|  50|
6  |   6|  12|  18|  24|  30|  36|  42|  48|  54|  60|
7  |   7|  14|  21|  28|  35|  42|  49|  56|  63|  70|
8  |   8|  16|  24|  32|  40|  48|  56|  64|  72|  80|
9  |   9|  18|  27|  36|  45|  54|  63|  72|  81|  90|
10 |  10|  20|  30|  40|  50|  60|  70|  80|  90| 100|

In [67]:

num = 10

while num != 0:
    print(num)
    num = num -1

10
9
8
7
6
5
4
3
2
1

In [68]:
for i in range(1,11):
    
    if i == 5:
        break
    
    print(i)

1
2
3
4

In [70]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

## Functions

In [71]:
def hello():
    print("Hello, I'm Function!")
    

hello()

Hello, I'm Function!

In [73]:
def hi():
    
    return "Hi, I'm function too!"

print(hi())

result = hi()

print(result)

Hi, I'm function too!
Hi, I'm function too!

In [75]:
def add(a,b):
    return a+b

print(add(4,5))

print(add("Hi","Hello"))

9
HiHello

In [76]:
def outer(a):
    def inner(b):
        
        return a*b
    a = inner(a)
    return a

print(outer(4))

16

In [77]:
def f(a):
    def g(b):
        return a*b
    return g
print(f(2)(5))

10

In [78]:
def f(a):
    def g(b):
        def h(c):
            return a*b*c
        return h
    return g

print(f(2)(3)(4))

24

In [80]:
def factorial(n):
    
    if n == 0:
        return 0
    if n == 1:
        return 1
    return n * factorial(n-1)

print(factorial(0))
print(factorial(1))
print(factorial(5))

0
1
120

In [83]:
def sum_n(n):
    
    if n == 1:
        return 1
    else:
        return n + sum_n(n-1)
    
def tail_sum(n, accumulator =0):
    if n == 0:
        return accumulator
    else:
        return tail_sum(n-1, accumulator+n)
    
print(sum_n(5))
print(tail_sum(5))

15
15

In [84]:
# lambda functions

f = lambda x, y : x+y

print(f(4,4))

8

In [85]:
g = lambda a: lambda b: lambda c : a + b +c

print(g(3)(4)(5))

12

In [86]:
h = lambda a: lambda b,c: lambda d: (a * (b+c) - d)

print(h(2)(5,2)(2))

12

## Exception Handaling

In [87]:
print(5/0)

ZeroDivisionError: division by zero

In [88]:
file = open("file","r")

FileNotFoundError: [Errno 2] No such file or directory: 'file'

In [89]:
a = 5/0
print("This will never exicuted bacause of error in above statment")

ZeroDivisionError: division by zero

In [90]:
try:
    a = 5/0
except Exception as e:
    print(e)

division by zero

In [92]:
try:
    n = int(input("Enter a number:"))
except ValueError:
    print("Number only")
except Exception as e:
    print(e)

Enter a number:d
Number only

## I/O

In [93]:
age = input("Enter your age:")
print("You are {}".format(age))

Enter your age:24
You are 24

In [94]:

file = open("one.txt","r")

print(file.read())
file.close()

Hello

This is file reading from python>

In [96]:

file = open("second.txt","w+")

file.write("This is file writing through the Python I/O.")
file.seek(0)
print(file.read())
file.close()

This is file writing through the Python I/O.

In [97]:
file = open("third.txt","w+")

file.write("Hello, this is file read and write example from the python.")
file.seek(0)
print(file.read())

file.seek(0)
file.write("Over Written")
file.seek(0)
print(file.read())
file.close()

Hello, this is file read and write example from the python.
Over Writtenis file read and write example from the python.

## Tuples

In [105]:
tup = (12, "Hello", 1.3, True)

for i in tup:
    print(i)
    
tup1 =(34, "d")

tup = tup + tup1
print(tup)


print(tup[1:4])

print(len(tup))

12
Hello
1.3
True
(12, 'Hello', 1.3, True, 34, 'd')
('Hello', 1.3, True)
6

## List

In [114]:
list1 = [213,"Hello", 23.235, (2,2)]

for i in list1:
    print(i)
    
    
list1.append(34)
print(list1)
print(len(list1))
list1[0] = 45
print(list1)

213
Hello
23.235
(2, 2)
[213, 'Hello', 23.235, (2, 2), 34]
5
[45, 'Hello', 23.235, (2, 2), 34]

In [121]:


print (list( map(lambda x : x*2 , [1,2,3,4,5,6,7,8,9,10])) )

TypeError: 'list' object is not callable

In [122]:
print( list(filter( lambda x: x < 4, [1,2,3,4,5,6,7,8,9,10])))

TypeError: 'list' object is not callable

In [123]:
class Numbers:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag

c = Numbers(2,5)
print(c.real, c.imag)

2 5